{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section id="home" class="d-flex align-items-center position-relative vh-50 cover hero" style="background-image:url({{ country.flag_image.url }});">
        <div class="container-fluid container-fluid-max">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
                    <h1 class="text-white">
                        {{ country.name }}'s <i>Laws</i>
                    </h1>
                </div>
            </div>
        </div>
    </section>
{% endblock %}